body{
    margin: 0;
    padding: 0;
}
.header, .intro{
    background-color: #1F2937;
    color: #f9faf8;
    margin: 0;
    padding: 0;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
a{
    text-decoration: none;
    color: #f9faf8;
}

ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
.intro{
    display: flex;
    justify-content: space-around;
    padding: 30px 70px 0 70px;
    
}
.intro-text{
    width: 400px;
    
}
h1{
    margin: 0;
}
img{
    width: 550px;
    height: auto;
}
button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    border-style: none  ;
    font-weight: bold;
    border: 2px solid white;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.content-h1{
    text-align: center;
    padding: 30px 0 ;
}

.square{
    border-radius: 20px;
    width: 170px;
    height: 170px;
    border: 3px solid #3882F6;
}

.square-text{
    width: 170px;
    height: auto;
    font-style: italic;
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 32px;
    padding: 100px 350px;
    margin-top: 100px;

}
.quote-name{
    font-weight: bold;
    font-size: 18px;
    text-align: end;
}

.footer{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    margin: 100px;
    display: flex;
    justify-content: space-between;
    padding: 50px 120px;
    align-items: center;
}

.footer-button{
    height: 30px;
    width: 100px;
}
.footer h2{
    padding: 0;
    margin: 0;
}

.footer p{
    padding: 0;
    margin: 0;
}
.copyrights{
    background-color: #1F2937;
    color: white;
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyrights p{
    margin: 0;
}